@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.home {
  flex-grow: 1;
  .container {
    @extend %container;

    .home_inner {
      .home_title {
        margin-top: 15px;

        font-weight: 700;
        font-size: 40px;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: center;
      }

      .home_btn_go {
        display: block;

        padding: 12px 60px;
        border: none;
        border-radius: 3px;
        margin: 35px auto 0;

        cursor: pointer;

        font-weight: 700;
        font-size: 30px;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }
}

.bg_light_theme {
  @extend %bg_light_theme;
}

.bg_dark_theme {
  @extend %bg_dark_theme;
}

.color_light_theme {
  @extend %color_dark_theme;
}

.color_dark_theme {
  @extend %color_light_theme;
}
